body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fffdd0;
}

main {
    flex: 2;
    border: 2px lightblue dashed;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
