body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FFFDD0;
}

main {
    border: dashed 2px lightblue;
    flex: 2;
    
}

section {
    max-width: 800px;
    margin: 50px auto;
}
