header {
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    height: 40px;
    align-items: center;
    
}

.some{
    text-align: center;
    padding: 10px;   
}
